<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{{appTitle}}</title>
  <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
  <link rel="stylesheet" type="text/css" href="stylesheets/animate.min.css">
  <link rel="stylesheet" type="text/css" href="stylesheets/font-awesome.min.css">
  <script type="text/javascript" src="javascripts/jquery-2.1.4.min.js"></script>
  <script type="text/javascript" src="javascripts/bootstrap-3.3.6.min.js"></script>
</head>
<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">{{appTitle}}</a>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        
        {{#if user}}
          <ul class="nav navbar-nav navbar-right animated fadeIn">
            <li>
              <a href="/logout">
                <i class="fa fa-fw fa-sign-out"></i> Logout
              </a>
            </li>
          </ul>
        {{/if}}
      </div>
    </div>
  </nav>
  <div id="container-main" class="container-fluid">
    {{{body}}}
  </div>

</body>
</html>