<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{appTitle}}</title>
</head>
<body>
	<div class="container-fluid">
		<h1 class="animated bounceInDown">
      <i class="fa fa-fw fa-warning"></i> Page Not Found
    </h1>
		<hr>
		<div class="alert alert-warning animated bounceInLeft">
      The page you're looking for could not be found! 
      We looked everywhere, even on the Moon, but we couldn't find a thing! :(
    </div>
      <a href="/" class="btn btn-primary animated bounceInUp">
        <i class="fa fa-fw fa-arrow-left"></i> Back to Home
      </a>
    </div> 
	</div>
</body>
</html>