<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{appTitle}}</title>
</head>
<body>
	<div class="container">
		<h1>
      <i class="fa fa-fw fa-2x fa-alert"></i> 404
    </h1>
		<hr>
		<div class="alert alert-warning">
      The page you're looking for could not be found! 
      We looked everywhere, even on the Moon, but we couldn't find a thing! :(
    </div>
	</div>
</body>
</html>