<div class="well">
  <div class="alert alert-danger">
    <i class="fa fa-fw fa-2x fa-alert"></i> {{message}}  
  </div>
  <p>
    <a href="/" class="btn btn-primary btn-large">
      <i class="fa fa-fw fa-long-arror-left"></i> Go Back
    </a>
</div>