.user-avatar {
    @extend .avatar;
    border-radius: 100%;
    width: 40px;
    height: 40px;	
  }

  .user-status {
      font-size: 0.7em;	
      font-weight: bold;
  }

  .user-name {
    font-size: 0.8em !important;	
  }

  .text-owner {
    font-size: 0.6em;
    font-weight: bold;	
  }

.user-list-item {
  @extend .list-group-item;
  @extend .row;
  
	padding: 5px;	
  
  &.offline {
    background: #e3e3e3;
    
    .user-status {
      color: $gray;	
    }
    
    .user-avatar {
      border-color: $gray;
      opacity: 0.7;
    }
  }
  
  &.online {
    
    .user-status {
      color: $brand-success;
    }
    
    .user-avatar {
      border-color: $brand-success;
    }
  }
}

#chat-window {
	border: 2px solid $gray-lighter;
  border-bottom-width: 0;
	border-radius: 3px;
  font-size: 0.8em;
  color: $gray;
	padding: 5px;

  #chat-messages {
    position: relative;
    padding: 0;
    height: 450px;
	  overflow: scroll;

    .no-messages-box, .fa-spin {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 2em;	
    }
    
    .chat-message {
      list-style: none;
      margin: 10px;
 	    margin-bottom: 40px;
      
      .user-avatar-wrapper {
        width: 80px;	
        text-align: center;
      }
      
      .message {
        border-width: 1px;
        border-style: solid;
        border-radius: 5px;
        color: $brand-primary;
	      box-shadow: 1px 1px 0px 0px $gray-lighter;	
       
        .content {
          min-height: 40px;
          padding: 5px;
          font-size: 1em;
        }
      }
      
      &.by-me .message {
        margin-right: 80px;		
        background: lighten($brand-info, 45%);
        border-color: lighten($brand-info, 40%);
        color: darken($brand-info, 20%);
      }
      
      &.by-them .message {
        margin-left: 80px;
        background: lighten($brand-warning, 45%);
        border-color: lighten($brand-warning, 40%);
        color: darken($brand-warning, 20%);
      }
    }
  }
}

#chat-input-group {
  input {
    border-radius: 0 !important;	
    border-bottom-right-radius: 5px !important;	
  }

  .btn-success {
    border-radius: 0 !important;
    border-bottom-left-radius: 5px !important;	
  }
  
  .btn-default {
    border-radius: 0 !important;    
  }
}

#emoji-dropdown-menu {
	width: 300px;
	padding: 3px;	
	height: 30px;
}

.chat-icon {
	height: 30px;
	width: 30px;	
}

.chat-icon:hover {
	background: $gray-lighter;
	cursor: pointer;	
}

